@font-face {
  font-family: 'Merriweather Black';
  src: local('Merriweather Black'), local('Merriweather Black'),
       url('../fonts/merriweather-black.woff2') format('woff2'),
       url('../fonts/merriweather-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Light';
  src: local('Lato Light'), local('Lato Light'),
       url('../fonts/lato-light.woff2') format('woff2'),
       url('../fonts/lato-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Regular';
  src: local('Lato Regular'), local('Lato Regular'),
       url('../fonts/lato-regular.woff2') format('woff2'),
       url('../fonts/lato-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Bold';
  src: local('Lato Bold'), local('Lato Bold'),
       url('../fonts/lato-bold.woff2') format('woff2'),
       url('../fonts/lato-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
