.header {
  padding: 21px 0 31px;
  &__grid {
    @include grid(1fr 700px, repeat(2, auto), center, 24px $padding-md);
  }
  &__logo {
    grid-row: 1 / span 2;
    order: 0;
    z-index: 10;
  }
}

.logo {
  display: block;
  width: 213px;
  height: 40px;
  transform: translate(0, 4px);
  &__img {
    display: block;
    height: 100%;
  }
}

.main-nav {
  font-family: $font-family-lato700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  &__list {
    @include flex(row, center, flex-end);
  }
  &__item {
    &:not(:last-child) {
      margin-right: 68px;
    }
  }
  &__link {
    color: $color-dark;
    text-decoration: none;
    white-space: nowrap;
    &:hover {
      color: $color-blue-hover;
    }
    &:focus {
      color: $color-blue-focus;
    }
    &:active {
      color: $color-blue-active;
    }
  }
}

@media (max-width: $md) {
  .header {
    &__grid {
      grid-template-columns: 1fr 670px;
    }
  }
  .main-nav {
    &__item {
      &:not(:last-child) {
        margin-right: 60px;
      }
    }
  }
}

@media (max-width: $sm) {
  .header {
    &__grid {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
    }
    &__logo {
      grid-row: 2 / span 1;
      transform: translate(0, 0);
    }
    &__info {
      justify-content: center;
    }
  }
  .logo {
    padding: 0;
    width: auto;
    &__img {
      margin: 0 auto;
    }
  }
  .main-nav {
    &__list {
      justify-content: center;
    }
  }
}

@media (max-width: $xs) {
  .header {
    padding-bottom: 10px;
    &__grid {
      grid-gap: 10px 0;
    }
    &__logo {
      transform: translate(0, 0);
    }
    &__info {
      grid-column: 1 / span 2;
    }
  }
  .logo {
    margin-left: 30px;
    height: 30px;
    text-align: right;
    &__img {
      display: inline-block;
    }
  }
  .btn-menu {
    position: relative;
    width: 30px;
    height: 24px;
    cursor: pointer;

    &__line {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $color-blue;
      border-radius: 4px;
      transform: translate(0, -50%);
      @include transition;

      &:before,
      &:after {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 3px;
        background-color: $color-blue;
        border-radius: 4px;
        @include transition;
        content: '';
      }

      &:before {
        top: 10px;
      }

      &:after {
        bottom: 10px;
      }
    }

    &.is-open {
      .btn-menu__line {
        background-color: transparent;

        &:before {
          top: 0;
          transform: rotate(-45deg);
        }

        &:after {
          top: 0;
          bottom: auto;
          transform: rotate(45deg);
        }
      }
    }
  }

  .main-nav {
    position: absolute;
    bottom: 11px;
    left: $padding-sm;
    font-size: 16px;
    line-height: 20px;

    &__btn {
      z-index: 3;
    }

    &__list {
      position: fixed;
      top: 70px;
      left: -900px;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 70px 30px 30px;
      width: 100vw;
      background-color: $color-white;
      @include transition;
      z-index: 2;
      overflow: hidden;

      &.is-open {
        left: 0;
      }
    }

    &__item {
      &:not(:last-child) {
        margin: 0 0 30px;
      }
    }
  }
}

