// Color
$color-white: #fff;
$color-black: #000;
$color-dark: #222;
$color-grey: #BDBDBD;
$color-blue: #005FA3;
$color-blue-hover: #0670BB;
$color-blue-focus: #035087;
$color-blue-active: #022C49;
$color-red: #FF0000;


// Font
$font-family-lato300: 'Lato Light', sans-serif;
$font-family-lato400: 'Lato Regular', sans-serif;
$font-family-lato700: 'Lato Bold', sans-serif;
$font-family-merri900: 'Merriweather Black', Times, serif;

// Breakpoints
$md: 1048px;
$sm: 1000px;
$xs: 767px;
$xxs: 650px;

// Padding
$padding-md: 30px;
$padding-sm: 20px;



